@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --active-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --active-color: #ffffff;
  }
}

body {
  color: #fff;
  background: #000;
  font-family: Arial, Helvetica, sans-serif;
}

.active {
  @apply block py-2 pl-3 pr-4 text-white rounded md:bg-transparent md:p-0 underline;
  color: var(--active-color); 
  font-weight: bold;
}
